<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;1,400;1,500&display=swap"
    rel="stylesheet">

  <title>Around the world in 18 stops</title>
  <link rel="icon" href="Images/icon.png" type="image/x-icon">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"><img src="icon.png" alt="" width="25px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="register">Register</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>

  <header>
    <h1 class=" text-center pt-5 pb-2"> <i>Discover the Ultimate Routes for Your Tours!</i> </h1>
    <h6 class=" text-center"> Determines the optimal routes for tours covering multiple destinations,optimizing either
      distance or time</h6>
  </header>


  <div class="ok ">
    <div class="visual p-5 m-5" id="inj">

    </div>
    <div id="lines" class="ms-5">

      <div id="ss">

      </div>
      <div class="ii text-center mt-3">
        <span id="ic1"> <a href="" class="m-1"><img
              src="https://th.bing.com/th/id/OIP.zFvahoZwXHM-6HT9lRBeUgHaHa?w=182&h=181&c=7&r=0&o=5&pid=1.7" alt=""
              width="50px" height="50px"></a></span>
        <span id="ic2"> <a href="" class="m-1"><img
              src="https://www.bing.com/th?id=OIP.togX_uuXPineuS9yIaMexgHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"
              alt="" width="65px" height="65px"></a></span>
        <span id="ic3"> <a href="" class="m-1"><img src="Images/bicycle.jpg" alt="" width="50px"
              height="60px"></a></span>
      </div>
      <div class="tt pt-3">
        <h4>and much more ...</h4>
      </div>
      <div class="ff">

        <button type="button" class="btn btn-outline-secondary "> <a href="/login">Get Started</a>
        </button>
      </div>
    </div>
  </div>
  <hr>
  <h2 class="text-center pt-2 pb-3">Features</h2>
  <div class="cards text-center">
    <div class="row">
      <div class="col-6 card1">
        <h2 class="pt-3">Popular Trip Options</h2>
        <h4 class="pt-3">Select from our most favored tours or customize your own.</h4>
        <div class="m-5 p-5 gh">
          <h4>• Sightseeing Tour</h4>
          <h4>• Goods Transportation</h4>
          <h4>• Road Trip</h4>
          <h4>• Walking Expedition</h4>
          <h4>• Passenger Buses</h4>
        </div>
      </div>

      <div class="col-6 card2">
        <h2 class="pt-3">Returning to Your Starting Point?</h2>
        <h4 class="pt-3">We've got options for that!</h4>
        <div class="m-5 p-5 gh gh1">
          <h4>• Round Trip (Same start and end location)</h4>
          <h4>• Distinct Start and End Locations</h4>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-6 card3">
        <h2 class="pt-3">Different types of modes of travel</h2>
        <h4 class="pt-3">You get to choose between various modes!</h4>
        <div class="m-5 p-5 gh gh1 gh2">
          <h4>- Drive</h4>
          <h4>- Truck<h4>
              <h4>- Walk</h4>
              <h4>- Bicycle</h4>

        </div>
      </div>
      <div class="col-6 card4">
        <h2 class="pt-3">Optimize by time or by distance</h2>
        <h4 class="pt-3">You get to choose between less time and less distance!!</h4>
        <div class="m-5 p-5 gh gh3">
          <h4>- Time</h4>
          <h4>- Distance</h4>
        </div>
      </div>
    </div>


  </div>

  <footer>
    <span>
      <img src="Images/icon.png" alt="" width="30px" height="30px">
    </span>

    <div class="">
      <a href="register">Register</a>|
      <a href="login">Login</a>
    </div>

    <div class="">
      <a href=""> </a>
    </div>

  </footer>
  <div class="cr">
    Copyright © 2022 Around the world
  </div>
  <script src="index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>