
*{
    font-family: 'Ibarra Real Nova', serif;
  }
  footer{
    margin-top: 4vw;;
    display: flex;
    background-color: #c7d2de;
    text-align: center;
    justify-content: space-evenly;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    
}
/* footer h4{
  width: 25vw;
}
footer h3{
    width: 50vw;
  } */
  footer a{
   
    padding: 5px;
    text-decoration: none;
    color :white;
  }
  footer a:hover{
    color :black;
  }
  .cr
  {
    text-align: center;
    background-color: #c7d2de;
  }

  .nap
{
display: flex;
justify-content: center;
}
.htu
{
margin-top: 5vw;
background-color: rgb(231, 236, 234);;
width: 70vw;
padding: 5vw;
border :  gainsboro 3px;
border-radius: 8px;
}
.htu p{
font-size: 18px;
}

@media (max-width:500px)
{
.htu{
  width: 80vw;
}
}
 
#logout{
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
    font-size: medium;
  }
  #logout:hover{
    background-color: #c7d2de;
  }