*{
    font-family: 'Ibarra Real Nova', serif;
  }
  .yh{
    color: black;
  }
    .visual {
        width: 40vw;
        /* height: 60vw;  */
       margin-right: 8vw;
    }

    .ok {
        display: flex;
        flex-wrap: wrap;
        
    }
@media (max-width : 980px )
{
  .ok
  {
    justify-content: center;
  }

  
}

@media (max-width : 850px )
{
  #inj img
  {
    width: 350px !important;
  }
  .visual
  {
    display: flex;
    justify-content: center;
   
   
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
   
  }
  #lines
  {
    width: 80vw !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  
}

@media (max-width : 650px )
{
  #inj img
  {
    width: 250px !important;
  }
  #ic1  img
  {
    width: 35px;
    height: 35px;
  }
  #ic2  img
  {
    width: 42px;
    height: 42px;
  }
  #ic3  img
  {
    width: 50px;
    height: 40px;
  }
  
}
@media (max-width : 400px )
{
  #inj img
  {
    width: 200px !important;
  }

  #ss h2
  {
    font-size: 18px !important;
  }
  /* #ic1  img
  {
    width: 28px;
    height: 28px;
  }
  #ic2  img
  {
    width: 42px;
    height: 42px;
  }
  #ic3  img
  {
    width: 35px;
    height: 40px;
  } */
  
}
 .gh
 {
  /* display: flex;
  justify-content: center; */
  text-align: center;
/*       background-color: white; */
 }
 .gh1
 {
 
  text-align: center;
/*       background-color: #c7d2de; */
 }
    #lines
    {
        width: 40vw;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    
    a{
        text-decoration: none;
        color: grey;
    }
    a:hover{
      color: white;  
    }
    .cards
    {
    color: white;
    margin-top: 52px;
    }
    .card1
    {
      
      width: 50vw;
      height: 40vw;
      color: black;
     
      background-color: #c7d2de;
    }
    .card2
    {
      width: 50vw;
      height: 40vw;
      color: black;
      /* background-color:#ffcd00; */
    }
    .card3
    {
      width: 50vw;
      height: 40vw;
      color: black;
      /* background-color:    #00deff; */
    }
    .card4
    {
      width: 50vw;
      height: 40vw;
      color: black;
      background-color: #c7d2de;
    }
    .ii
    {
      width: 100%;

    }
    @media (max-width: 950px)
    {
      .card1 ,.card2 , .card3 ,.card4 
      {
        width: 100vw;
        height: 70vw;
      }
      .cards h2{
        font-size: 30px;
      }
      .cards h4{
        font-size: 25px;
      }

      .card3{
        background-color: #c7d2de ;
        /* color: ; */
      }
      .card4{
        background-color: white;
      }

      
    }
    @media (max-width: 550px)
    {
      .card1 ,.card2 , .card3 ,.card4 
      {
        height: 75vw;
      }
      .cards img
      {
        width: 250px !important;
       
      } 
      .gh
      {
        padding: 0 !important;
        
      }
      .cards h2{
        font-size: 23px;
      }
      .cards h4{
        font-size: 18px;
      }
    }

    @media (max-width: 350px)
    {
      
      .cards img
      {
        width: 180px !important;
       
      } 
      .cards h2{
        font-size: 20px;
      }
      .cards h2{
        font-size: 15px;
      }
     
    }
    @media (max-width: 370px)
    {
      .card1 ,.card2 , .card3 ,.card4 
      {
        height: 90vw;
      }
    }

    footer{
margin-top: 4vw;;
display: flex;
background-color: #c7d2de;
text-align: center;
justify-content: space-evenly;
/* position: absolute;
bottom: 0; */
width: 100%;

}
/* footer h4{
width: 25vw;
}
footer h3{
width: 50vw;
} */
footer a{

padding: 0.5vw;
text-decoration: none;
color :white;
}
footer a:hover{
color :black;
}
.cr
{
text-align: center;
background-color: #c7d2de;
}
.tt
{
width: 60vw;
text-align: center;
}
/* .ii span{
width: 70px;
height: 70px;
background-color: grey;
} */
    
